@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

body {
    margin: 0;
    padding: 0;
    
    font-family: 'Passion One', cursive;;
}

#principal {
    width: 962px;
    margin: auto;
}

.header-top {
    background-color: #AD8C55;
    height: 50px;
    position: relative;
    
}

.home {
    display: inline-block;
    margin-left: 20px;
    margin-top: 18px;
    text-decoration: none;
    color: #E6D3B5;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.2em;
}

 a:hover {
    color: #786F60;
}

.header-nav {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

.header-nav li {
    display: inline-block;
    margin-right: 50px;
}

.header-nav a {
    text-decoration: none;
    color: #E6D3B5;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.2em;
}

.header-nav a:hover {
    color: #786F60;
}

.image {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}


.conteudo_meio {
    background-color: #E6D3B5;
    font-size: 32px;
    border-radius: 10px;
    
}

.conteudo_meio h1 {
    text-align: center;
    text-transform: uppercase;
    padding-top: 5px;
    font-size: 1.4em;
}

.conteudo_meio p {
    text-align: justify;
    padding: 0 50px 30px 50px;
}

.techs {
    padding: 10px 60px;
    background-color: #E6D3B5;
    height: 350px;
    border-radius: 5px;
}

.techs-card {
    float: left;
    width: 33%;
    
}

.techs-title {
    font-weight: normal;
    font-size: 1.5em;
    
}

.techs-link a {
    text-decoration: none;
    font-weight: normal;
    font-size: 1.3em;
    
}

#techs-title1 {
    margin-left: 90px;
}

#techs-link1 {
    margin-left: 80px;
}

#techs-title2 {
    margin-left: 75px;
}

#techs-link2 {
    margin-left: 60px;
}

#techs-title3 {
    margin-left: 85px;
}

#techs-link3 {
    margin-left: 85px;
}



footer {
    width: 962px;
    background-color: #E6D3B5;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 50px;
    display: inline-block;
    clear: both;
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
}

